= render "nav"
= simple_form_for(@question) do |f|
  = f.error_notification

  .row
    .input-field.col.s12.m12.l12
      = f.input :title
  .row
    .input-field.col.s12.m12.l12
      = f.input :content, as: :text, input_html: { class: 'materialize-textarea' }
  .row
    = quill_editor

  = f.submit "Publicar sua pergunta", class: 'btn'
