
.col-lg-12
  = render "nav"
  .block
    .block-header.bg-gray-lighter
      %h3.block-title
        %i.fa.fa-plus
        Nova Pergunta
    .block-content.block-content-full.block-content-narrow
      = simple_form_for(@question, wrapper: :vertical_form_devise) do |f|
        = f.input :title
        = f.input :content, :as => :ckeditor, :label=>false, :input_html => { :ckeditor => {:toolbar => 'mini'} }
        = f.submit "Publicar sua pergunta", class: 'btn'
