.block
  = simple_form_for(@question, wrapper: :vertical_form_devise) do |f|
    
    .block-content.block-content-full.block-content-narrow
      .row.items-push
        .row
          .col-sm-8.form-horizontal
            = f.input :title
            = f.input :tag_list, as: :select, collection: ActsAsTaggableOn::Tagging.where(:context=>"tags").joins(:tag).select("distinct tags.id, tags.name").collect{ |x| [x.name, x.name]}, input_html: { multiple: true, class: "js-select2" }
          .col-sm-4
            #help-block-content.alert.alert-info.alert-dismissable
              %h4.font-w300.push-15.info-title Pergunta
              .info-content
                %p
                  Você procurou uma resposta antes de fazer sua pergunta?
                %p
                  Preferimos perguntas que podem ser
                  = succeed "," do
                    %i respondidas
                %p Dê detalhes. Diga o que você já tentou.

        .row
          .col-sm-12
            = f.input :content, label:false, as: :text, wrapper: :default, input_html: { class: "js-summernote" }
    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Savar Alteraçoes
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Reiniciar

