.block.block-themed
  .block-header.bg-info
    %h3.block-title= @question.title
  .block-content#question
    %table.table.table-striped.table-borderless
      %tbody
        %tr
          %td.hidden-xs
          %td.font-s13.text-muted
            = link_to @question.user.full_name, profile_path(@question.user.profile)
            = "Perguntou a #{time_ago_in_words(@question.created_at)}"
        %tr
          %td.text-center.hidden-xs{:style => "width: 140px;"}
            .push-10
              %a{:href => "base_pages_profile.php"}
                = image_tag @question.user.profile.avatar_url, class: "img-avatar"
            %small 2 Posts
            = render partial: "shared/votes_column", locals: {count: @question.votes_count, path: vote_question_path(@question)}
            = render partial: "shared/favorite_question", locals: {question: @question}
          %td
            = @question.content.to_s.html_safe
            = render partial: "shared/tag_list", locals: {tags: @question.tags}
            %hr/
            %p.font-s13.text-muted= @question.user.profile.about
