.block
  .block-header.bg-gray-lighter
    %h3.block-title= @question.title
  .block-content#question
    .row
      .col-lg-1.text-center
        = render partial: "shared/votes_column", locals: {count: @question.reputation_for(:votes).to_i, path: vote_question_path(@question)}
        = render partial: "shared/favorite_question", locals: {question: @question}
      .col-lg-11
        .col-lg-12
          .font-s13.text-muted
            = @question.content.to_s.html_safe
        .col-lg-12.col-sm-7.col-xm-12
          %span.label.label-success Hidromel
          %span.label.label-success Receita
          %span.label.label-success Mosto
        .col-lg-4.col-sm-5.col-xm-12.pull-right
          = render partial: "shared/block_profile", locals: {title: "Perguntou a #{time_ago_in_words(@question.created_at)}", user: @question.user}
