.block.block-themed
  .block-header.bg-info
    %h3.block-title= @question.title
  .block-content#question
    .row
      .col-lg-1.text-center
        = render partial: "shared/votes_column", locals: {count: @question.votes_count, path: vote_question_path(@question)}
        = render partial: "shared/favorite_question", locals: {question: @question}
      .col-lg-11
        .col-lg-12
          .font-s13.text-muted
            = @question.content.to_s.html_safe
            .push-10
              -binding.pry
              - @question.tags.each do |tag|
                %span.label.label-success= tag
        .col-lg-4.col-sm-5.col-xm-12.pull-right
          = render partial: "shared/block_profile", locals: {title: "Perguntou a #{time_ago_in_words(@question.created_at)}", user: @question.user}
