%tr
  %td.hidden-xs
  %td.font-s13.text-muted
    = link_to object.user.full_name, profile_path(object.user.profile)
    = "Perguntou a #{time_ago_in_words(object.created_at)}"
%tr{id: "#{object.class.name}_#{object.id}" }
  %td.text-center.hidden-xs{:style => "width: 140px;"}
    .push-10
      %a{:href => "base_pages_profile.php"}
        = image_tag object.user.profile.avatar_url, class: "img-avatar"
    - if question
      = render partial: "shared/votes_column", locals: {count: object.votes_count, path: vote_question_path(object)}
      = render partial: "shared/favorite_question", locals: {question: object}
    - else
      = render partial: "shared/vote_best", locals: { question_user_id: @question.user_id, :answer => object}
      = render partial: "shared/votes_column", locals: {count:  object.reputation_for(:votes).to_i, path: vote_question_answer_path(id:object.id, question_id:object.question_id)}
  %td
    = object.content.to_s.html_safe
    - if question
      = render partial: "shared/tag_list", locals: {tags: object.tags}
    %hr/
    %p.font-s13.text-muted= object.user.profile.about


