.content.content-narrow
  %ol.breadcrumb.push-15
    %li
      = link_to("Questions",  questions_path, class:"text-muted")
  .block
    .block-header.bg-gray-lighter
      %ul.block-options
        %li
          %button{"data-action" => "fullscreen_toggle", "data-toggle" => "block-option", :type => "button"}
            %i.si.si-size-fullscreen
        %li
          %button{"data-action" => "refresh_toggle", "data-action-mode" => "demo", "data-toggle" => "block-option", :type => "button"}
            %i.si.si-refresh
      %h3.block-title Welcome to last Questions
    .block-content.block-content-full
      %ul.list.list-activity.push
        - @questions.each do |question|
          %li
            .row
              .col-md-1.text-center
                .row_iten
                  .row
                    12
                  .row
                    %b Votos
                .row_iten
                  .row
                    %i.fa.fa-check-circle-o.best-answer-icon-size{ class: (question.have_best_answer? ? "best-answer-icon-color" : "")}
                  .row
                    = question.answers.size
                  .row
                    %b Respostas
                .row_iten
                  .row
                    60
                  .row
                    %b Visitas
              .col-md-11
                .col-md-12
                  %h4= link_to question.title, question
                  .font-s13.text-muted
                    = question.content.to_s.html_safe
                .col-md-9
                  %span.label.label-success Hidromel
                  %span.label.label-success Receita
                  %span.label.label-success Mosto
                .col-md-3
                  = render partial: "shared/block_profile", locals: {title: "Criada em #{question.created_at}"}
