.content.content-narrow
  %ol.breadcrumb.push-15
    %li
      %a.text-muted{:href => "base_pages_forum_categories.php"} Forums
    %li
      %a.link-effect{:href => "base_pages_forum_topics.php"} Introduction
    %li
      %a.link-effect{:href => "base_pages_forum_discussion.php"} New Member!
  .col-lg-10
    .block
      .block-header.bg-gray-lighter
        %h3.block-title= @question.title
      .block-content
        .row
          .col-lg-1.text-center
            .row.push-10
              .row
                %i.fa.fa-chevron-up.best-answer-icon-size
            .row
              %label.best-answer-icon-size= @question.answers.size
            .row.push-10
              .row
                %i.fa.fa-chevron-down.best-answer-icon-size
            .row.push-20-t.push-20
              .row
                %i.fa.fa-star-o.best-answer-icon-size
              .row
                50
          .col-lg-11
            .col-lg-12
              .font-s13.text-muted
                = @question.content.to_s.html_safe
            .col-lg-12.col-sm-7.col-xm-12
              %span.label.label-success Hidromel
              %span.label.label-success Receita
              %span.label.label-success Mosto
            .col-lg-4.col-sm-5.col-xm-12.pull-right
              = render partial: "shared/block_profile", locals: {title: "Criada em #{@question.created_at}"}
    .block
      .block-header.bg-gray-lighter
        %h3.block-title= "#{@question.answers.size} Respostas"
      .block-content
        .row
          %ul.list.list-activity.push
            - @question.answers.each do |answer|
              %li.push-30.list_answer
                .row
                  .col-lg-1.text-center
                    .row.push-10
                      .row
                        %i.fa.fa-chevron-up.best-answer-icon-size
                    .row
                      %label.best-answer-icon-size= @question.answers.size
                    .row.push-10
                      .row
                        %i.fa.fa-chevron-down.best-answer-icon-size
                  .col-lg-11
                    .col-lg-12
                      %p= answer.content
                    .col-lg-4.col-sm-5.col-xm-12.pull-right
                      = render partial: "shared/block_profile", locals: {title: "Criada em #{answer.created_at}"}
            %li.push-30.list_answer
              = simple_form_for([@question, @answer], wrapper: :vertical_form_devise) do |f|
                = f.input :content
                = f.input :question_id, :as => :hidden
                = f.submit



  .col-lg-2
