= render "nav"
.block.block-themed
  .block-header.bg-info
    - if @question.can_edit?(current_user.id)
      %ul.block-options
        %li
          = link_to_with_icon([" Editar","si si-pencil"], edit_question_path(@question))
    %h3.block-title= @question.title
  .block-content#question
    %table.table.table-striped.table-borderless
      %tbody
        = render partial: "tr_show", locals: {object: @question, head: "Perguntou a", question: true}
        - @question.answers_list.each do |answer|
          = render partial: "tr_show", locals: {object: answer, head: "Respondeu a", question: false}
        %tr
          %td.hidden-xs
          %td.font-s13.text-muted
            = link_to current_user.full_name, profile_path(current_user.profile)
            = "Responda agora!"
        %tr
          %td.text-center.hidden-xs
            .push-10
              %a{:href => "#{profile_path(current_user.profile)}"}
                = image_tag current_user.profile.avatar_url, class: "img-avatar"
          %td
            = simple_form_for([@question, @question.answers.new], wrapper: :vertical_form_devise) do |f|
              .form-group
                = f.input :content, label: false, as: :text, wrapper: :default, :input_html =>{ class: "js-summernote"}
                = f.input :question_id, :as => :hidden
              .form-group
                .col-xs-12
                = f.submit "Responder", class: "btn btn-success"

/.block.block-themed
/  .block-header{ class: (@question.have_best_answer? ? "bg-success" : "bg-info")}
/    %h3.block-title= "#{@question.answers.size} Respostas"
/  .block-content
/    .row
/      %ul.list.list-activity.push
/        - @question.answers_list.each do |answer|
/          %li.push-30.list_answer{id: "answer_#{answer.id}" }
/            .row
/              .col-lg-1.text-center
/                = render partial: "shared/vote_best", locals: { question_user_id: @question.user_id, :answer => answer}
/                = render partial: "shared/votes_column", locals: {count:  answer.reputation_for(:votes).to_i, path: vote_question_answer_path(id:answer.id, question_id:answer.question_id)}
/              .col-lg-11
/                .col-lg-12
/                  %p= answer.content.html_safe
/                .col-lg-4.col-sm-5.col-xm-12.pull-right
/                  = render partial: "shared/block_profile", locals: {title: "Respondeu a #{time_ago_in_words(answer.created_at)}", user: answer.user}
/        %li.push-30.list_answer
/          = simple_form_for([@question, @question.answers.new], wrapper: :vertical_form_devise) do |f|
/            = f.input :content, as: :text, wrapper: :default, :input_html =>{ class: "js-summernote"}
/            = f.input :question_id, :as => :hidden
/            = f.submit "Responder", class: "btn btn-success"
