= render "nav"
.block.block-themed
  .block-header.bg-info
    - if @question.can_edit?(current_user.id)
      %ul.block-options
        %li
          = link_to_with_icon([" Editar","si si-pencil"], edit_question_path(@question))
    %h3.block-title= @question.title
  .block-content#question
    %table.table.table-striped.table-borderless
      %tbody
        = render partial: "tr_show", locals: {object: @question, head: "Perguntou a", question: true}
        - @question.answers_list.each do |answer|
          = render partial: "tr_show", locals: {object: answer, head: "Respondeu a", question: false}
        %tr
          %td.hidden-xs
          %td.font-s13.text-muted
            = link_to current_user.full_name, profile_path(current_user.profile)
            = "Responda agora!"
        %tr
          %td.text-center.hidden-xs
            .push-10
              %a{:href => "#{profile_path(current_user.profile)}"}
                = image_tag current_user.profile.avatar_url, class: "img-avatar"
          %td
            = simple_form_for([@question, @question.answers.new], wrapper: :vertical_form_devise) do |f|
              .form-group
                = f.input :content, label: false, as: :text, wrapper: :default, :input_html =>{ class: "js-summernote"}
                = f.input :question_id, :as => :hidden
              .form-group
                .col-xs-12
                = f.submit "Responder", class: "btn btn-success"

