= simple_form_for(@profile, wrapper: :vertical_form_devise) do |f|
  = f.error_notification
  .block
    %ul.nav.nav-tabs.nav-justified.push-20{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#tab-profile-personal"}
          %i.fa.fa-fw.fa-pencil
          Pessoal
      %li
        %a{:href => "#tab-profile-privacy", style: f.object.address.errors.any? ? "color:#c54736;" : "" }
          %i.fa.fa-fw.fa-map-marker
          Endereço
    .block-content.tab-content
      #tab-profile-personal.tab-pane.fade.active.in
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .col-xs-6
              = f.simple_fields_for :pictures, @profile.pictures.new do |a|
                .col-xs-12.fileinput.fileinput-new{"data-provides" => "fileinput", :style=>"text-align:center;"}
                  .text-center
                    %label Perfil
                  .push.animated.fadeInDown.img-avatar.fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 100px; height: 100px; border:none;"}
                    = image_tag @profile.avatar_url, class: "img-avatar img-avatar96 img-avatar-thumb"
                  %div
                    %span.btn.btn-default.btn-file.hidden
                      = a.input :picture, as: :file
                      = a.input :picture_type, :as => :hidden, :input_html => { :value => "avatar" }
                    %a.hidden.btn.btn-xs.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} remover
            .col-xs-6
              = f.simple_fields_for :pictures, @profile.pictures.new do |a|
                .col-xs-12.fileinput.fileinput-new{"data-provides" => "fileinput", :style=>"text-align:center;"}
                  .text-center
                    %label Fundo
                  .push.animated.fadeInDown.img-avatar.fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 100px; height: 100px; border:none;"}
                    = image_tag @profile.cover_url, class: "img-avatar img-avatar96 img-avatar-thumb"
                  %div
                    %span.btn.btn-default.btn-file.hidden
                      = a.input :picture, as: :file
                      = a.input :picture_type, :as => :hidden, :input_html => { :value => "cover" }
                    %a.hidden.btn.btn-xs.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} remover
            .col-xs-12.col-md-6
              = f.input :first_name, :readonly => true
            .col-xs-12.col-md-6
              = f.input :last_name
            /.col-xs-12
            /  =# f.input :birth_date, as: :string, :readonly => !f.object.birth_date.nil?, :input_html => { :value => l( f.object.birth_date || Date.today ) }
            .col-xs-12
              = f.input :organization_name
            .col-xs-12
              = f.input :about, as: :text
      #tab-profile-privacy.tab-pane.fade
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            = f.simple_fields_for :address do |a|
              .col-xs-6
                = a.input :postal_code
              .col-xs-6
                = a.input :district
              .col-xs-8
                = a.input :street
              .col-xs-4
                = a.input :number
              .col-xs-6
                = a.input :state
              .col-xs-6
                = a.input :city
              .col-xs-12
                = a.input :additional
    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Salvar as alterações
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Resetar
