= simple_form_for(@profile, wrapper: :vertical_form_devise) do |f|
  = f.error_notification
  .block
    %ul.nav.nav-tabs.nav-justified.push-20{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#tab-profile-personal"}
          %i.fa.fa-fw.fa-pencil
          Personal
      %li
        %a{:href => "#tab-profile-privacy"}
          %i.fa.fa-fw.fa-map-marker
          Endereço
      %li
        %a{:href => "#tab-profile-password"}
          %i.fa.fa-fw.fa-asterisk
          Password
    .block-content.tab-content
      #tab-profile-personal.tab-pane.fade.active.in
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .col-xs-6
              = f.input :first_name
            .col-xs-6
              = f.input :last_name
            .col-xs-12
              = f.input :birth_date
            .col-xs-12
              = f.input :city_id, as: :select, collection: City.all, wrapper: :vertical_form
            .col-xs-12
              = f.input :about, as: :text
            .col-xs-12
              = f.input :organization_name
            .col-xs-12
              = f.simple_fields_for :pictures, @profile.pictures.new do |a|
                = a.input :picture, as: :file
                = a.input :picture_type, :as => :hidden, :input_html => { :value => "avatar" }
            .col-xs-12
              = f.simple_fields_for :pictures, @profile.pictures.new do |c|
                = c.input :picture, as: :file
                = c.input :picture_type, :as => :hidden, :input_html => { :value => "cover" }
      #tab-profile-password.tab-pane.fade
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .form-group
              .col-xs-12.form-material.form-material-primary
                %label{:for => "profile-password"} Senha atual
                %input#profile-password.form-control.input-lg{:name => "profile-password", :type => "password"}/
            %hr/
            .form-group
              .col-xs-12
                %label{:for => "profile-password-new"} Nova senha
                %input#profile-password-new.form-control.input-lg{:name => "profile-password-new", :type => "password"}/
            .form-group
              .col-xs-12
                %label{:for => "profile-password-new-confirm"} Confirme a nova senha
                %input#profile-password-new-confirm.form-control.input-lg{:name => "profile-password-new-confirm", :type => "password"}/
      #tab-profile-privacy.tab-pane.fade
        .col-sm-6.col-sm-offset-3.form-horizontal
          %form.form-horizontal.push-10-t.push-10{:action => "base_forms_premade.php", :method => "post", :onsubmit => "return false;"}
            .form-group
              .col-xs-6
                .form-material.floating
                  %input#register6-firstname.form-control{:name => "register6-firstname", :type => "text"}/
                  %label{:for => "register6-firstname"} Firstname
              .col-xs-6
                .form-material.floating
                  %input#register6-lastname.form-control{:name => "register6-lastname", :type => "text"}/
                  %label{:for => "register6-lastname"} Lastname
            .form-group
              .col-xs-12
                .form-material.input-group.floating
                  %input#register6-account.form-control{:name => "register6-account", :type => "text"}/
                  %label{:for => "register6-account"} Company
                  %span.input-group-addon .example.com
            .form-group
              .col-xs-12
                .form-material.input-group.floating
                  %input#register6-email.form-control{:name => "register6-email", :type => "email"}/
                  %label{:for => "register6-email"} Email
                  %span.input-group-addon
                    %i.fa.fa-envelope-o
            .form-group
              .col-xs-12
                .form-material.input-group.floating
                  %input#register6-password.form-control{:name => "register6-password", :type => "password"}/
                  %label{:for => "register6-password"} Password
                  %span.input-group-addon
                    %i.fa.fa-asterisk
            .form-group
              .col-xs-12
                .form-material.input-group.floating
                  %input#register6-password2.form-control{:name => "register6-password2", :type => "password"}/
                  %label{:for => "register6-password2"} Confirm Password
                  %span.input-group-addon
                    %i.fa.fa-asterisk
            .form-group
              .col-xs-12
                %label.css-input.css-checkbox.css-checkbox-success
                  %input#register6-terms{:name => "register6-terms", :type => "checkbox"}/
                  %span
                  Agree to terms?
    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Salvar as alterações
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Resetar
