= simple_form_for(@profile, wrapper: :vertical_form_devise) do |f|
  = f.error_notification
  .block
    %ul.nav.nav-tabs.nav-justified.push-20{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#tab-profile-personal"}
          %i.fa.fa-fw.fa-pencil
          Personal
      %li
        %a{:href => "#tab-profile-password"}
          %i.fa.fa-fw.fa-asterisk
          Password
      %li
        %a{:href => "#tab-profile-privacy"}
          %i.fa.fa-fw.fa-lock
          Privacy
    .block-content.tab-content
      #tab-profile-personal.tab-pane.fade.active.in
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .col-xs-6
              = f.input :first_name
            .col-xs-6
              = f.input :last_name
            .col-xs-12
              = f.input :birth_date
            .col-xs-12
              = f.input :city_id, as: :select, collection: City.all, wrapper: :vertical_form
            .col-xs-12
              = f.input :about, as: :text
            .col-xs-12
              = f.input :organization_name
            .col-xs-12
              = f.simple_fields_for :pictures, @profile.pictures.new do |a|
                = a.input :picture, as: :file
                = a.input :picture_type, :as => :hidden, :input_html => { :value => "avatar" }
            .col-xs-12
              = f.simple_fields_for :pictures, @profile.pictures.new do |c|
                = c.input :picture, as: :file
                = c.input :picture_type, :as => :hidden, :input_html => { :value => "cover" }
      #tab-profile-password.tab-pane.fade
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .form-group
              .col-xs-12
                %label{:for => "profile-password"} Current Password
                %input#profile-password.form-control.input-lg{:name => "profile-password", :type => "password"}/
            %hr/
            .form-group
              .col-xs-12
                %label{:for => "profile-password-new"} New Password
                %input#profile-password-new.form-control.input-lg{:name => "profile-password-new", :type => "password"}/
            .form-group
              .col-xs-12
                %label{:for => "profile-password-new-confirm"} Confirm New Password
                %input#profile-password-new-confirm.form-control.input-lg{:name => "profile-password-new-confirm", :type => "password"}/
      #tab-profile-privacy.tab-pane.fade
        .row.items-push
          .col-sm-6.col-sm-offset-3.form-horizontal
            .form-group
              .col-xs-8
                .font-s13.font-w600 Online Status
                .font-s13.font-w400.text-muted Show your status to all
              .col-xs-4.text-right
                %label.css-input.switch.switch-sm.switch-primary.push-10-t
                  %input{:type => "checkbox"}/
                  %span
            %hr/
            .form-group
              .col-xs-8
                .font-s13.font-w600 Auto Updates
                .font-s13.font-w400.text-muted Keep up to date
              .col-xs-4.text-right
                %label.css-input.switch.switch-sm.switch-primary.push-10-t
                  %input{:type => "checkbox"}/
                  %span
            %hr/
            .form-group
              .col-xs-8
                .font-s13.font-w600 Notifications
                .font-s13.font-w400.text-muted Do you need them?
              .col-xs-4.text-right
                %label.css-input.switch.switch-sm.switch-primary.push-10-t
                  %input{:checked => "checked", :type => "checkbox"}/
                  %span
            %hr/
            .form-group
              .col-sm-8
                .font-s13.font-w600 API Access
                .font-s13.font-w400.text-muted Enable/Disable access
              .col-sm-4.text-right
                %label.css-input.switch.switch-sm.switch-primary.push-10-t
                  %input{:checked => "checked", :type => "checkbox"}/
                  %span
    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Save Changes
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Reset
