.block
  .bg-image{:style => "background-image: url( #{asset_path @profile.cover_url(:cover_hd)});"}
    .block-content.text-center.overflow-hidden
      .push-30-t.push.animated.fadeInDown
        %img
          = image_tag @profile.avatar_url, class: "img-avatar img-avatar96 img-avatar-thumb"
      .push-30.animated.fadeInUp
        %h2.h4.font-w600.text-white.border-text.push-5= @profile.full_name
        %h3.h5.text-gray= @profile.organization_name
  .block-content.text-center
    .row.items-push.text-uppercase
      .col-xs-6.col-sm-3
        .font-w700.text-gray-darker.animated.fadeIn Level
        %a.h2.font-w300.text-primary.animated.flipInX{:href => "javascript:void(0)"}= @profile.user.level
      .col-xs-6.col-sm-3
        .font-w700.text-gray-darker.animated.fadeIn Experiência
        %a.h2.font-w300.text-primary.animated.flipInX{:href => "javascript:void(0)"}= @profile.user.get_experience
      .col-xs-6.col-sm-3
        .font-w700.text-gray-darker.animated.fadeIn Membro desde
        %a.h2.font-w300.text-primary.animated.flipInX{:href => "javascript:void(0)"}= l @profile.created_at.to_date
      .col-xs-6.col-sm-3
        .font-w700.text-gray-darker.animated.fadeIn Reputação
        .push-10-t.animated.flipInX
          - @profile.reputation.times do |x|
            %i.fa.fa-star.text-warning
          - (5 - @profile.reputation).times do |x|
            %i.fa.fa-star.text-mute
  .progress.active{ }
    .progress-bar.progress-bar-info.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "30", :role => "progressbar", :style => "width: #{@profile.user.percentage_level}%" ,"data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Barra de experiência."}="#{@profile.user.percentage_level.round(2)}%"
