#modal-terms.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-dialog-slideleft
    .modal-content
      .block.block-themed.block-transparent.remove-margin-b
        .block-header.bg-primary-dark
          %ul.block-options
            %li
              %button{"data-dismiss" => "modal", :type => "button"}
                %i.si.si-close
          %h3.block-title Termos & Condições
        .block-content
          %ol{:style => "margin: 18px auto;"}
            %li{:style => "margin-bottom: 16px;"}
              %b Privacidade
              %br/
              %br/
              Sua privacidade é muito importante para nós. Elaboramos nossa
              %a{:href => "/about/privacy/"} Política de Dados
              para divulgar como você pode usar o Facebook para compartilhar com outros e como coletamos e podemos usar seu conteúdo e informações. Recomendamos que você leia a
              %a{:href => "/about/privacy/"} Política de Dados
              e a utilize para tomar decisões conscientes.
              %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Compartilhando suas informações e conteúdos
              %br/
              %br/
              Você é proprietário de todas as informações e conteúdos que publica no Facebook e pode controlar o modo como serão compartilhados por meio de suas
              %a{:href => "/settings/?tab=privacy"} configurações de privacidade
              e de
              = succeed "." do
                %a{:href => "/settings/?tab=applications"} aplicativos
              %ol
                %li
                  Para conteúdos protegidos por leis de direitos de propriedade intelectual, como fotos e vídeos (conteúdo IP), você nos concede especificamente a seguinte permissão, sujeita às suas
                  %a{:href => "/privacy/"} configurações de privacidade
                  e de
                  = succeed ":" do
                    %a{:href => "/settings/?tab=applications"} aplicativos
                %li Quando você exclui um conteúdo IP, ele é removido de maneira similar ao esvaziamento da lixeira do computador. No entanto, entenda que o conteúdo removido pode permanecer em cópias de backup por um período razoável (mas não estará disponível para outros).
                %li
                  Quando você usa um aplicativo, ele pode solicitar sua permissão para acessar seus conteúdos e informações, bem como conteúdos e informações que outras pessoas compartilharam com você. Exigimos que os aplicativos respeitem sua privacidade, e o acordo com esse aplicativo controlará como o mesmo poderá usar, armazenar e transferir esse conteúdo e informações. (Para saber mais sobre a Plataforma, incluindo como você pode controlar as informações que as pessoas podem compartilhar com aplicativos, leia nossa
                  %a{:href => "/about/privacy/"} Política de Dados
                  e a
                  = succeed ".)" do
                    %a{:href => "http://developers.facebook.com/docs/"} Página da plataforma
                %li Quando você publica conteúdos ou informações usando a opção Público, você está permitindo que todos, incluindo pessoas fora do Facebook, acessem e usem essas informações e as associem a você (isto é, ao seu nome e foto do perfil).
                %li
                  Seus comentários ou outras sugestões sobre o Facebook são sempre bem-vindos, mas entenda que podemos usar esses comentários ou sugestões sem qualquer obrigação de compensar você por eles (assim como você não tem a obrigação de oferecê-los).
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Segurança
              %br/
              %br/
              Fazemos todo o possível para manter o Facebook seguro, mas não podemos garantir isso. Precisamos da sua ajuda para manter o Facebook seguro, o que inclui os seguintes compromissos de sua parte:
              %ol
                %li você não publicará comunicações comerciais não autorizadas (como spam) no Facebook.
                %li você não coletará conteúdos ou informações de usuários, ou acessará o Facebook, usando meios automatizados (como bots de coleta, robôs, spiders ou scrapers) sem nossa permissão prévia.
                %li você não fará parte de marketing multinível ilegal, como um esquema de pirâmide, no Facebook.
                %li você não carregará vírus ou outros códigos mal-intencionados.
                %li você não solicitará informações de login, nem acessará uma conta que pertença a outra pessoa.
                %li você não irá intimidar, assediar ou praticar bullying contra qualquer usuário.
                %li você não publicará conteúdos que contenham discurso de ódio, sejam ameaçadores ou pornográficos; incitem violência; ou contenham nudez ou violência gratuita ou gráfica.
                %li Você não irá desenvolver nem operar um aplicativo de terceiros com conteúdos relacionados a álcool, encontros ou outro conteúdo adulto (incluindo anúncios) sem as restrições apropriadas com base em idade.
                %li Você não usará o Facebook para praticar qualquer ato ilegal, equivocado, malicioso ou discriminatório.
                %li Você não fará nada que possa desabilitar, sobrecarregar ou impedir o funcionamento ou a aparência adequados do Facebook, como um ataque de negação de serviço ou interferência no processamento da página ou de outra funcionalidade do Facebook.
                %li
                  Você não facilitará nem incentivará a violação desta Declaração ou de nossas políticas.
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Registro e segurança da conta
              %br/
              %br/
              Os usuários do Facebook fornecem seus nomes e informações reais, e precisamos da sua ajuda para que isso continue assim. Veja a seguir alguns compromissos que você firma conosco em relação ao registro e à manutenção da segurança de sua conta.
              %ol
                %li Você não fornecerá qualquer informação pessoal falsa no Facebook, nem criará uma conta para qualquer outra pessoa além de você sem permissão.
                %li Você não criará mais de uma conta pessoal.
                %li Se desativarmos sua conta, você não deverá criar outra sem nossa permissão.
                %li Você não usará sua linha do tempo pessoal para seu próprio ganho comercial. Para tais fins, use as Páginas do Facebook.
                %li Você não usará o Facebook se for menor de 13 anos.
                %li Você não usará o Facebook se for um criminoso sexual condenado.
                %li Você manterá suas informações de contato precisas e atualizadas.
                %li Você não compartilhará sua senha (ou, no caso de desenvolvedores, sua chave secreta), deixará outra pessoa acessar sua conta ou praticará qualquer ato que possa comprometer a segurança da sua conta.
                %li Você não transferirá sua conta (incluindo qualquer Página ou aplicativo administrado por você) para ninguém sem primeiro obter nossa permissão por escrito.
                %li
                  Se você selecionar um nome de usuário ou identificador similar para sua conta ou Página, nós nos reservaremos o direito de remover ou recuperar este nome ou identificador se considerarmos adequado (por exemplo, quando um proprietário de uma marca comercial reivindicar um nome de usuário que não tem qualquer relação com o nome real do usuário).
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Proteção dos direitos de outras pessoas
              %br/
              %br/
              Nós respeitamos os direitos de terceiros, e esperamos que você faça o mesmo.
              %ol
                %li Você não publicará conteúdo ou praticará qualquer ato no Facebook que infrinja ou viole os direitos de terceiros ou a lei.
                %li Nós podemos remover qualquer conteúdo ou informação publicada por você no Facebook se julgarmos que isso viola esta declaração ou nossas políticas.
                %li
                  Nós fornecemos a você ferramentas para ajudá-lo a proteger seus direitos de propriedade intelectual. Para saber mais, acesse a nossa página
                  = succeed "." do
                    %a{:href => "/help/399224883474207"} Como denunciar reclamações de infrações de propriedade intelectual
                %li Se removermos seu conteúdo por infringir os direitos autorais de alguém, e você acreditar que o removemos por engano, forneceremos a você a oportunidade de recorrer.
                %li Se você violar repetidamente os direitos de propriedade intelectual de terceiros, nós desativaremos sua conta quando apropriado.
                %li Você não usará nossos direitos autorais, marcas comerciais ou quaisquer marcas semelhantes que possam causar confusão, exceto conforme expressamente autorizado pelas nossas Diretrizes de uso de marcas ou com nossa permissão prévia por escrito.
                %li Se coletar informações dos usuários, você deverá: obter o consentimento deles, deixar claro que é você (e não o Facebook) quem está coletando as informações e publicar uma política de privacidade explicando quais informações serão coletadas e como elas serão usadas.
                %li Você não deve publicar documentos de identificação ou informações financeiras confidenciais de terceiros no Facebook.
                %li
                  Você não marcará usuários nem enviará convites por e-mail para não usuários sem o consentimento deles. O Facebook oferece ferramentas de denúncia social para permitir que os usuários façam comentários sobre a marcação.
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Celular e outros dispositivos móveis
              %br/
              %br/
              %ol
                %li Atualmente, fornecemos nossos serviços móveis gratuitamente, mas lembre-se de que as taxas e os impostos normais de sua operadora, como taxas de mensagens de texto, ainda se aplicam.
                %li Caso altere ou desative seu número de telefone celular, você deverá atualizar as informações de sua conta no Facebook dentro de 48 horas para garantir que suas mensagens não sejam enviadas para a pessoa que adquirir seu número antigo.
                %li
                  Você consente e fornece todos os direitos necessários para permitir que os usuários sincronizem seus dispositivos com quaisquer informações (inclusive através de um aplicativo) visíveis para eles no Facebook.
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Pagamentos
              %br/
              %br/
              Ao fazer um pagamento no Facebook, você concorda com os nossos
              %a{:href => "https://www.facebook.com/payments_terms"} Termos de pagamento
              a menos que seja declarado que outros termos se aplicam.
              %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Disposições especiais aplicáveis aos desenvolvedores/operadores de aplicativos e sites
              %br/
              %br/
              Se você é um desenvolvedor ou operador de um aplicativo ou site da plataforma, deve estar em conformidade com a
              = succeed "." do
                %a{:href => "https://developers.facebook.com/policy"} Política de Plataforma do Facebook
            %li{:style => "margin-bottom: 16px;"}
              %div
                %b Sobre propagandas e outros conteúdos comerciais fornecidos ou aprimorados pelo Facebook
                %br/
                %br/
                Temos como objetivo divulgar anúncios e outros conteúdos comerciais ou patrocinados que sejam importantes para nossos usuários e anunciantes. Para nos ajudar nesse aspecto, você concorda com os termos a seguir.
                %ol
                  %li Você nos concede permissão para usar seu nome, imagem do perfil, conteúdos e informações relacionadas a conteúdos comerciais, patrocinados ou relacionados (como uma marca que você curtiu) fornecido ou aperfeiçoado por nós. Isto significa, por exemplo, que você permite que uma empresa ou outra entidade nos pague para exibir seu nome e/ou imagem do perfil com seus conteúdos ou informações sem receber qualquer compensação por isso. Se você tiver selecionado um público específico para seus conteúdos ou informações, respeitaremos sua escolha ao usar esses dados.
                  %li Não forneceremos seus conteúdos ou informações a anunciantes sem seu consentimento.
                  %li
                    Você entende que serviços pagos e comunicações relacionadas nem sempre serão identificados por nós.
                    %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Disposições especiais aplicáveis aos anunciantes
              %br/
              %br/
              Se você usar nossas interfaces de autoatendimento de publicidade para criar, enviar e/ou veicular qualquer tipo de publicidade, ou outra atividade ou conteúdo comercial ou patrocinado (coletivamente, as "Interfaces de Autoatendimento de Anúncios"), estará aceitando os nossos
              = succeed "." do
                %a{:href => "/legal/self_service_ads_terms"} Termos de Autoatendimento de Publicidade
              = succeed "." do
                %a{:href => "/ad_guidelines.php"} Diretrizes de Publicidade
            %li{:style => "margin-bottom: 16px;"}
              %b Disposições especiais aplicáveis a Páginas
              %br/
              %br/
              Se você criar ou administrar uma página no Facebook, ou veicular uma promoção ou uma oferta a partir da sua Página, você concorda com nossos
              = succeed "." do
                %a{:href => "https://www.facebook.com/page_guidelines.php"} Termos de Páginas
              %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Disposições especiais aplicáveis a software
              %br/
              %br/
              %ol
                %li Se você baixar ou usar o nosso software, como um produto de software autônomo, um aplicativo ou um plug-in para navegador, você concorda que o software poderá baixar e instalar as atualizações e recursos adicionais periodicamente de forma a aprimorar ou desenvolvê-lo.
                %li Você não tentará modificar, criar trabalhos derivados de, descompilar ou tentar extrair código fonte, a menos que expressamente autorizado sob licença de open source ou que essa permissão expressa tenha sido fornecida por nós.
                %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Alterações
              %br/
              %br/
              %ol
                %li Notificaremos você antes de fazer alterações nestes termos e lhe daremos a oportunidade de analisar e comentar os termos revisados antes de continuar a usar nossos Serviços.
                %li Se fizermos alterações em políticas, diretrizes ou outros termos mencionados ou incorporados nesta Declaração, poderemos apresentar um aviso na Página de Governança do Site.
                %li
                  Se você continuar a usar os Serviços do Facebook depois do aviso de alterações em nossos termos, políticas ou diretrizes, isso constituirá sua aceitação dos termos, políticas ou diretrizes alterados.
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Rescisão
              %br/
              %br/
              Se você violar o texto ou a essência desta Declaração, ou gerar possível risco ou exposição legal para nós, podemos deixar de fornecer todo ou parte do Facebook para você. Notificaremos você por e-mail ou na próxima vez que você tentar acessar sua conta. Você também pode excluir sua conta ou desativar seu aplicativo a qualquer momento. Em todos esses casos, esta Declaração perderá sua vigência, mas as seguintes disposições ainda serão aplicáveis: 2.2, 2.4, 3-5, 9.3 e 14-18.
              %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Disputas
              %br/
              %br/
              %ol
                %li Você resolverá qualquer reivindicação, causa de ação ou disputa (reivindicação) decorrente de ou relacionada exclusivamente à esta Declaração ou ao Facebook no tribunal distrital americano, para o distrito do norte da Califórnia, ou um tribunal estadual localizado no condado de San Mateo, e você concorda em submeter-se à jurisdição pessoal de tais tribunais com o propósito de pleitear todas essas reivindicações. As leis do estado da Califórnia regem esta Declaração, bem como as alegações que surjam entre você e nós, independentemente de conflitos nas disposições legais.
                %li Se alguém fizer uma alegação contra nós em relação a suas ações, conteúdos ou informações no Facebook, você nos isentará da responsabilidade sobre todos os danos, perdas e despesas de qualquer espécie (incluindo os custos judiciais aplicáveis) em relação a essa alegação. Mesmo estabelecendo regras de conduta para os usuários, não controlamos nem orientamos as ações dos usuários no Facebook e não nos responsabilizamos pelo conteúdo ou as informações que os usuários transmitem ou compartilham no Facebook. Não nos responsabilizamos por qualquer conteúdo ou dado ofensivo, inadequado, obsceno, ilegal ou questionável que você possa encontrar no Facebook. Não nos responsabilizamos pela conduta, on-line ou off-line, de qualquer usuário do Facebook.
                %li
                  NÓS TENTAMOS MANTER O FACEBOOK EM FUNCIONAMENTO, SEGURO E LIVRE DE ERROS, MAS VOCÊ O USA POR SUA CONTA E RISCO. NÓS FORNECEMOS O FACEBOOK NO ESTADO EM QUE SE ENCONTRA, SEM GARANTIAS EXPRESSAS OU IMPLÍCITAS, INCLUINDO, SEM LIMITAÇÃO, GARANTIAS IMPLÍCITAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO INFRAÇÃO. NÃO GARANTIMOS QUE O FACEBOOK SERÁ SEMPRE SEGURO, PROTEGIDO, SEM ERROS, NEM QUE O FACEBOOK SEMPRE FUNCIONARÁ SEM INTERRUPÇÕES, ATRASOS OU IMPERFEIÇÕES. O FACEBOOK NÃO SE RESPONSABILIZA POR AÇÕES, CONTEÚDOS, INFORMAÇÕES OU DADOS DE TERCEIROS, E VOCÊ ISENTA A NÓS, NOSSOS DIRETORES, EXECUTIVOS, FUNCIONÁRIOS E AGENTES DE QUALQUER RECLAMAÇÃO OU DANOS, CONHECIDOS E DESCONHECIDOS, DECORRENTES DE OU RELACIONADOS DE QUALQUER FORMA A QUALQUER RECLAMAÇÃO QUE VOCÊ TENHA CONTRA TERCEIROS. SE VOCÊ FOR RESIDENTE NA CALIFÓRNIA, VOCÊ ABDICA DO CÓDIGO CIVIL DA CALIFÓRNIA §1542, QUE DIZ: A RENÚNCIA GERAL NÃO SE ESTENDE A RECLAMAÇÕES QUE O CREDOR NÃO CONHECE OU ESPERA EXISTIR EM SEU FAVOR NO MOMENTO DE EXECUÇÃO DA RENÚNCIA QUE, SE CONHECIDA POR ELE, AFETAM SUBSTANCIALMENTE SEU ACORDO COM O DEVEDOR. NÓS NÃO NOS RESPONSABILIZAMOS COM VOCÊ POR QUALQUER PERDA DE LUCRO OU OUTROS DANOS CONSEQUENTES, ESPECIAIS, INDIRETOS OU ACIDENTAIS DECORRENTES DE OU RELATIVOS A ESTA DECLARAÇÃO OU AO FACEBOOK, MESMO QUE TENHAMOS SIDO AVISADOS DA POSSIBILIDADE DE TAIS DANOS. NOSSA RESPONSABILIDADE AGREGADA TOTAL DECORRENTE DESTA DECLARAÇÃO OU DO FACEBOOK NÃO DEVERÁ ULTRAPASSAR O MONTANTE DE CEM DÓLARES (US$ 100) OU O VALOR PAGO NOS EUA NOS ÚLTIMOS DOZE MESES. A LEGISLAÇÃO APLICÁVEL NÃO PODE PERMITIR A LIMITAÇÃO NEM A ISENÇÃO DA RESPONSABILIDADE POR DANOS ACIDENTAIS OU CONSEQUENTES. PORTANTO, A LIMITAÇÃO OU EXCLUSÃO ACIMA PODE NÃO SE APLICAR A VOCÊ. NESSES CASOS, A RESPONSABILIDADE DO FACEBOOK SERÁ LIMITADA AO LIMITE MÁXIMO PERMITIDO POR LEI.
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Disposições especiais aplicáveis a usuários fora dos Estados Unidos
              %br/
              %br/
              Nós nos esforçamos para criar uma comunidade global com padrões consistentes para todos, mas também procuramos respeitar as leis locais. As seguintes provisões se aplicam a usuários e não usuários que interagem com o Facebook fora dos Estados Unidos.
              %ol
                %li Você concorda em ter seus dados pessoais transferidos para e processados nos Estados Unidos.
                %li Se você residir em um país embargado pelos Estados Unidos ou fizer parte da lista do Departamento do Tesouro dos EUA de Nações Especialmente Designadas, você não deverá participar de atividades comerciais no Facebook (como propaganda e pagamento) nem operar um aplicativo ou site da plataforma. Você não usará o Facebook se estiver proibido de receber produtos, serviços ou software originado dos Estados Unidos.
                %li
                  Certos termos específicos que se aplicam somente a usuários alemães estão disponíveis
                  = succeed "." do
                    %a{:href => "https://www.facebook.com/terms/provisions/german/index.php"} aqui
            %li{:style => "margin-bottom: 16px;"}
              %b Definições
              %br/
              %br/
              %ol
                %li Os termos "Facebook" ou "Serviços do Facebook" abrangem os recursos e serviços que disponibilizamos, inclusive através de (a) nosso site www.facebook.com e qualquer outro site da marca Facebook ou sites de marca compartilhada (incluindo subdomínios, versões internacionais, widgets e versões para celular); (b) nossa Plataforma; (c) plug-ins sociais, como o botão Curtir, o botão Compartilhar e outras ofertas similares (d) e outras mídias, marcas, produtos, serviços, softwares (como uma barra de ferramentas), dispositivos ou redes já existentes ou desenvolvidos posteriormente. O Facebook se reserva o direito de definir, a seu critério, quais marcas, produtos ou serviços são regidos por termos separados e não por esta DDR.
                %li O termo "Plataforma" envolve um conjunto de APIs e serviços (como conteúdo) que permitem que outras pessoas, inclusive desenvolvedores de aplicativos e operadores de sites, recuperem dados do Facebook ou forneçam dados para nós.
                %li O termo "informações" envolve fatos e outras informações sobre você, incluindo as ações executadas por usuários e não usuários que interagem com o Facebook.
                %li O termo "conteúdo" envolve tudo que você ou outros usuários publicam, fornecem ou compartilham usando os Serviços do Facebook.
                %li O termo "dados" ou "dados do usuário" envolve qualquer dado, incluindo conteúdos ou informações de um usuário que você ou terceiros possam obter do Facebook ou fornecer ao Facebook pela plataforma.
                %li O termo "publicar" envolve publicar ou disponibilizar conteúdos usando o Facebook.
                %li O termo "uso" significa usar, executar, copiar, agir ou expor publicamente, distribuir, modificar, traduzir e criar trabalhos derivados.
                %li O termo "aplicativo" envolve qualquer aplicativo ou site que use ou acesse a Plataforma, bem como qualquer item que receba ou tenha recebido dados de nós. Se você não acessa mais a Plataforma, mas não excluiu os dados, o termo aplicativo se aplicará até que você os exclua.
                %li
                  Com o termo "Marcas comerciais", nos referimos à lista de marcas comerciais disposta
                  = succeed "." do
                    %a{:href => "https://www.facebook.com/l.php?u=https%3A%2F%2Fwww.facebookbrand.com%2Ftrademarks%2F&h=BAQEziYAN&s=1", :onclick => "LinkshimAsyncLink.referrer_log(this, \"https:\\/\\/www.facebookbrand.com\\/trademarks\\/\", \"\\/si\\/ajax\\/l\\/render_linkshim_log\\/?u=https\\u00253A\\u00252F\\u00252Fwww.facebookbrand.com\\u00252Ftrademarks\\u00252F&h=BAQEziYAN&render_verification=0&enc&d\");", :onmouseover => "LinkshimAsyncLink.swap(this, \"https:\\/\\/www.facebookbrand.com\\/trademarks\\/\");", :rel => "nofollow", :target => "_blank"} aqui
                  %br/
            %li{:style => "margin-bottom: 16px;"}
              %b Outro
              %br/
              %br/
              %ol
                %li Se sua residência ou seu principal local de trabalho encontra-se nos Estados Unidos ou no Canadá, esta Declaração corresponde a um acordo entre você e a Facebook, Inc. Caso contrário, esta Declaração corresponde a um acordo entre você e a Facebook Ireland Limited. Referências a “nos”, “nós” e “nosso” significam a Facebook, Inc. ou a Facebook Ireland Limited, conforme apropriado.
                %li Esta Declaração compõe todo o acordo entre as partes em relação ao Facebook e tem precedência sobre acordos anteriores.
                %li Se qualquer parte desta Declaração for considerada inexequível, a parte restante permanecerá em plena vigência.
                %li Se nós falharmos em impor qualquer parte desta Declaração, isso não será considerado como abdicação de direitos.
                %li As correções ou abdicações de direitos desta Declaração devem ser efetuadas por escrito e assinadas por nós.
                %li Você não deve transferir seus direitos nem obrigações sob esta Declaração para qualquer outra pessoa sem nosso consentimento.
                %li Todos os nossos direitos e obrigações sob esta Declaração são livremente atribuídos por nós em relação a fusões, aquisições, vendas de bens, imposição legal ou outro fator.
                %li Nada nesta Declaração nos impedirá de cumprir a lei.
                %li Esta Declaração não confere direitos que beneficiam terceiros.
                %li Nós nos reservamos todos os direitos não expressamente concedidos a você.
                %li Você deve obedecer a todas as leis aplicáveis quando estiver usando ou acessando o Facebook.
          
      .modal-footer
        %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
        %button.btn.btn-sm.btn-primary{"data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-check
          Ok
