= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form_devise, html: {method: :put, class: "form-horizontal push-50-t push-50" }) do |f|
  .block
    .block-header.bg-gray-lighter
      %h3.block-title
        Alterar Senha
    .block-content
      .row.items-push
        .col-sm-6.col-sm-offset-3.form-horizontal
          .col-xs-12
            = f.input :current_password, input_html: { :autocomplete => "off" }
          .col-xs-12
            = f.input :password, label:"Nova senha", input_html: { :autocomplete => "off" }
          .col-xs-12
            = f.input :password_confirmation, label:"Confirme a nova senha", input_html: { :autocomplete => "off" }
    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Alterar senha
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Resetar
  /Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
