<div class="bg-white pulldown">
  <div class="content content-boxed overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="push-30-t push-20 animated fadeIn">
          <div class="text-center">
            <%#= render "shared/logo" %>
            <i class="fa fa-2x fa-circle-o-notch text-primary"></i>
            <h1 class="h3 push-10-t">Create Account</h1>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form_devise, html: { class: "form-horizontal push-50-t push-50" }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.simple_fields_for :profile  do |p| %>
              <%= p.input :first_name %>
              <%= p.input :birth_date, as: :string%>
              <%#= p.input :birth_date, as: :string%>
            <% end %>
            <%= f.input :email, type: "email" %>
            <%= f.input :password, type: "password" %>
            <%= f.input :password_confirmation, type: "password"%>

            <div class="form-group">
              <div class="col-xs-7 col-sm-8">
                <label class="css-input switch switch-sm switch-success">
                  <input type="checkbox" id="register-terms" name="register-terms"><span></span> I agree with terms &amp; conditions
                </label>
              </div>
              <div class="col-xs-5 col-sm-4">
                <div class="font-s13 text-right push-5-t">
                  <a href="#" data-toggle="modal" data-target="#modal-terms">View Terms</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <%= f.submit class: 'btn btn-sm btn-block btn-success' %>
              </div>
            </div>
          <% end %>

          <%= render "devise/shared/links", locals: {} %>
        </div>
      </div>
    </div>
  </div>
</div>


