.session.row
  .z-depth-4.card-panel.s12.m3.l6
    = simple_form_for(resource, as: resource_name, html: { class: "" }, url: registration_path(resource_name)) do |f|
      - resource.build_profile
      = render "shared/logo"
      = devise_error_messages!
      %p.login-box-msg 
      = f.simple_fields_for :profile, @profile  do |p|
        .row
          .input-field.col.s12.m12.l12.login-text
            = p.input :first_name
        .row
          .input-field.col.s12.m12.l12.login-text
            = p.input :birth_date, as: :string, input_html: {class: "datepicker"}
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.input :email, class: 'validate', type: "email", 'data-error': "wrong", "data-success": "right"
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.input :password, class: 'validate', type: "password", 'data-error': "wrong", "data-success": "right"
      .row  
        .input-field.col.s12.m12.l12.login-text
          = f.input :password_confirmation, class: 'validate', type: "password", 'data-error': "wrong", "data-success": "right"
      .row
        .input-field.col.s12.m12.l12
          = f.submit class: 'btn col s12 m12 l12'
      .row
        = render "devise/shared/links", locals: {}
