.bg-image{:style => "background-image: url('assets/img/various/promo-1.png');"}
  .bg-primary-dark-op
    %section.content.content-full.content-boxed.overflow-hidden
      .push-100-t.push-50.text-center
        %h1.h2.text-white.push-10.animated.fadeInDown{"data-class" => "animated fadeInDown", "data-toggle" => "appear"} Diferente de tudo que você já viu.
        %h2.h5.text-white-op.push-50.animated.fadeInDown{"data-class" => "animated fadeInDown", "data-toggle" => "appear"} Conheça o MEAD.
        %a.btn.btn-rounded.btn-noborder.btn-lg.btn-primary.animated.bounceIn{"data-class" => "animated bounceIn", "data-timeout" => "800", "data-toggle" => "appear", :href => "#{new_user_session_path}"} Comece Agora!
      .row.animated.fadeInUp{"data-class" => "animated fadeInUp", "data-toggle" => "appear"}
        .col-sm-8.col-sm-offset-2
          %img.img-responsive.pull-b{:alt => "", :src => "assets/img/various/promo-1.png"}/
.bg-white
  %section.content.content-boxed
    .row.items-push-3x.push-50-t.nice-copy
      .col-sm-4
        .text-center.push-30
          %span.item.item-2x.item-circle.border
            %i.si.si-bubbles
        %h3.h5.font-w600.text-uppercase.text-center.push-10 O fim de suas dúvidas
        %p Tire suas duvidas a quando e como você quiser, qualquer pessoa pode fazer uma pergunta, qualquer um pode responder, as melhores respostas recebem votos positivos e sobem para os primeiros lugares
      .col-sm-4
        .text-center.push
          %span.item.item-2x.item-circle.border
            %i.si.si-users
        %h3.h5.font-w600.text-uppercase.text-center.push-10 Conheça novos produtores
        %p No mead é possivel conhecer novos produtores de cervejas, hidromeis, vinhos, e outras bebidas artesanais.
      .col-sm-4
        .text-center.push
          %span.item.item-2x.item-circle.border
            %i.si.si-clock
        %h3.h5.font-w600.text-uppercase.text-center.push-10 Suas trocas em tempo real
        %p Troque garrafas a qualquer hora com outros produtores, com mead é muito fácil e seguro conhecer novos sabores.
    .row.items-push-3x.nice-copy
      .col-sm-4
        .text-center.push
          %span.item.item-2x.item-circle.border
            %i.si.si-screen-smartphone
        %h3.h5.font-w600.text-uppercase.text-center.push-10 Sua adega na palma da sua mão
        %p Rápido e fácil, o mead sempre está com você, no seu bolso, no seu computador, no seu tablet. Acesse sua adega e veja qual bebida você tem na sua adega a qualquer hora!
      .col-sm-4
        .text-center.push-30
          %span.item.item-2x.item-circle.border
            %i.si.si-heart
        %h3.h5.font-w600.text-center.push-10 Faça parte da você também
        %p Faça parte da nova geração de produtoes de bebidas artesanais do Brasil
      .col-sm-4
        .text-center.push
          %span.item.item-2x.item-circle.border
            %i.si.si-diamond
        %h3.h5.font-w600.text-uppercase.text-center.push-10 Tecnologia
        %p Desenvolvemos nossa própria tecnologia com as mais modernas linguagens e usando projetos open source.


.bg-gray-lighter
  %section.content.content-boxed
    .row.items-push.push-20-t.push-20.text-center
      .col-sm-4
        .h1.push-5{"data-after" => "+", "data-to" => "15760", "data-toggle" => "countTo"}= "#{User.count*7}+"
        .font-w600.text-uppercase.text-muted Usuários
      .col-sm-4
        .h1.push-5{"data-after" => "+", "data-to" => "3890", "data-toggle" => "countTo"}= "#{Bottle.count*7}+"
        .font-w600.text-uppercase.text-muted Garrafas registradas
      .col-sm-4
        .h1.push-5{"data-after" => "+", "data-to" => "890", "data-toggle" => "countTo"}= "#{Question.with_best_answer.size*7}+"
        .font-w600.text-uppercase.text-muted Perguntas respondidas
.bg-image{:style => "background-image: url('assets/img/photos/photo3@2x.jpg');"}
  .bg-primary-dark-op
    %section.content.content-full.content-boxed
      .row.items-push-2x.push-50-t.text-center
        .col-sm-4.animated.fadeIn{"data-offset" => "-150", "data-toggle" => "appear"}
          %img.img-avatar.img-avatar-thumb{:alt => "", :src => "assets/img/avatars/avatar4.jpg"}/
          .text-warning.push-10-t.push-15
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
          .h4.text-white-op.push-5 “Se todos os sistemas fossem padrão @mead, o mundo seria um lugar melhor.”
          .h6.text-gray - Feliphe Pozzer
        .col-sm-4.animated.fadeIn{"data-offset" => "-150", "data-timeout" => "150", "data-toggle" => "appear"}
          %img.img-avatar.img-avatar-thumb{:alt => "", :src => "assets/img/avatars/avatar6.jpg"}/
          .text-warning.push-10-t.push-15
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
          .h4.text-white-op.push-5 "O sistema funciona super bem, o site é lindo e mt explicativo, achei fantástico! @mead"
          .h6.text-gray - Rafael Chiarello
        .col-sm-4.animated.fadeIn{"data-offset" => "-150", "data-timeout" => "300", "data-toggle" => "appear"}
          %img.img-avatar.img-avatar-thumb{:alt => "", :src => "assets/img/avatars/avatar10.jpg"}/
          .text-warning.push-10-t.push-15
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
            %i.fa.fa-fw.fa-star
          .h4.text-white-op.push-5 Me ajuda todos os dias, @mead é incrivel!
          .h6.text-gray - Guilherme Kuhn
.bg-gray-lighter
  %section.content.content-full.content-boxed
    .push-20-t.push-20.text-center
      %h3.h4.push-20.animated.fadeIn{"data-toggle" => "appear"} Faça parte da nova geração de produtoes de bebidas artesanais do Brasil
      %a.btn.btn-rounded.btn-noborder.btn-lg.btn-success.animated.bounceIn{"data-class" => "animated bounceIn", "data-toggle" => "appear", :href => "#{new_user_session_path}"} Comece agora mesmo!
