.chatboxhead
  .chatboxtitle
    %i.fa.fa-comments
    %h1
      = link_to @reciever.name, profile_path(@reciever), class:"text-white"
  .chatboxoptions
    = link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id
    \  
    \#{link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id}
  %br{:clear => "all"}/
.chatboxcontent
  - if @messages.any?
    = render @messages
.chatboxinput
  = form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f|
    = f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id
= subscribe_to conversation_path(@conversation)