.block.block-opt-refresh-icon6
  .block-header
    %h3.block-title
      %i.fa-fw.fa.fa-th
      = title
  .block-content
    %ul.list.list-simple.list-li-clearfix
      - bottles.each do |bottle|
        %li
          = link_to(user_bottle_path(bottle.user, bottle), class: "item item-rounded pull-left push-10-r") do
            = image_tag bottle.image_url, class:"img-avatar"
          %h5.push-10-t= "#{bottle.type_s} #{bottle.label}"
          .font-s13= bottle.organization_name
    .text-center.push
      %small
        = link_to "Ver adega completa", user_bottles_path(user)
