= simple_form_for([current_user, @bottle], wrapper: :vertical_form_devise) do |f|
  = f.error_notification
  .block
    .block-header.bg-gray-lighter
      %h3.block-title
        %i.fa.fa-plus
        Nova Garrafa
    .block-content
      .row.items-push
        .col-sm-6.col-sm-offset-3.form-horizontal
          .col-xs-12
            = f.simple_fields_for :pictures, @bottle.pictures.new do |a|
              .col-xs-12.fileinput.fileinput-new{"data-provides" => "fileinput", :style=>"text-align:center;"}
                .text-center
                  %label Imagem da Garrafa
                .push.animated.fadeInDown.img-avatar.fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 100px; height: 100px; border:none;"}
                  = image_tag @bottle.image_url, class: "img-avatar img-avatar96 img-avatar-thumb"
                %div
                  %span.btn.btn-default.btn-file.hidden
                    = a.input :picture, as: :file
                    = a.input :picture_type, :as => :hidden, :input_html => { :value => "image" }
                  %a.hidden.btn.btn-xs.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} remover
          .col-xs-6
            = f.input :label
          .col-xs-6
            = f.input :organization_name
          .col-xs-6
            = f.input :filling_date, as: :string, input_html:{ class: "data" }
          .col-xs-6
            = f.input :amount, as: :string, input_html:{ class: "integer", maxlength: 3 }
          .col-xs-12
            = f.input :style_list, as: :select, collection: ActsAsTaggableOn::Tagging.where(:context=>"style").joins(:tag).select("distinct tags.id, tags.name").collect{ |x| [x.name, x.name]}, input_html: { multiple: false, class: "js-select2" }
          .col-xs-12
            = f.input :type_list, as: :select, collection: ActsAsTaggableOn::Tagging.where(:context=>"type").joins(:tag).select("distinct tags.id, tags.name").collect{ |x| [x.name, x.name]}, input_html: { multiple: false, class: "js-select2" }
          .col-xs-12
            = f.input :measure, input_html: {class: "measure"}
          .col-xs-12
            = f.input :abv, input_html:{ class: "open abv" }
          .col-xs-12
            = f.input :about, as: :text
          .col-xs-12
            .form-group
              .col-xs-7.col-sm-8
                = f.input :private, as: :boolean, wrapper: :horizontal_boolean_devise

    .block-content.block-content-full.bg-gray-lighter.text-center
      %button.btn.btn-sm.btn-primary.form-submit{:type => "submit"}
        %i.fa.fa-check.push-5-r
        Salvar as alterações
      %button.btn.btn-sm.btn-warning{:type => "reset"}
        %i.fa.fa-refresh.push-5-r
        Resetar

