= render "head_block"
.row
  .col-sm-5.col-sm-push-7.col-lg-4.col-lg-push-8
    .block
      .block-content.block-content-full.text-center
        = form_for Trade.new do |f|
          = hidden_field :bottle_id, "", value: @bottle.id
          %a.block.block-link-hover2.text-center{onclick: "$('#new_trade').submit();"}
            .block-content.block-content-full.bg-city
              %i.fa.fa-exchange.fa-4x.text-white
              .font-w600.text-white-op.push-15-t Negociar!
              =# link_to_with_icon([" Negociar", "fa fa-exchange"], new_trade_path(bottle_id: @bottle.id), class: "btn btn-sm btn-default")
        = link_to_with_icon([" Editar", "fa fa-pencil"], edit_user_bottle_path(@bottle.user, @bottle), class: "btn btn-sm btn-default")
        = link_to_with_icon([" Remover", "fa fa-trash-o"], edit_user_bottle_path(@bottle.user, @bottle), class: "btn btn-sm btn-default")
    = render partial: "shared/block_about", locals: { about: @bottle.about }
    .block.block-opt-refresh-icon6
      .block-header
        %h3.block-title
          %i.fa.fa-fw.fa-user
          Dono
      .block-content
        %ul.nav-users.push
          %li
            = link_to(profile_path(@bottle.user.profile)) do
              %img.img-avatar{:alt => "", :src => "#{@bottle.user.profile.avatar_url}"}
              %i.fa.fa-circle.text-success
              = @bottle.user.full_name
              .font-w400.text-muted
                %small= @bottle.user.profile.organization_name
              .font-w400.text-muted
                %small= @bottle.user.profile.city.name
  .col-sm-7.col-sm-pull-5.col-lg-8.col-lg-pull-4
    = render partial: "block_user_bottles", locals:{ title: "Outras garrafas na adega do #{@bottle.user.full_name}", user: @bottle.user }

