%li
  .list-timeline-time= get_time_ago(activity.created_at)
  %i.si.si-fire.list-timeline-icon.bg-warning
  .list-timeline-content
    %p
      %b= link_to activity.owner.full_name, profile_path(activity.owner.profile)
      %b= link_to "respondeu", question_path(activity.trackable.question) +"#Answer_#{activity.trackable.id}"
      a
      %b= link_to "pergunta", question_path(activity.trackable.question)
    %p.font-s13
      = activity.trackable.question.title
