.bg-white.pulldown
  .content.content-boxed.overflow-hidden
    .row
      .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        .push-30-t.push-20.animated.fadeIn
          .text-center
            = render partial:"devise/shared/heading", locals: {title: "Troque sua senha"}
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: :vertical_form_devise, html: { method: :put, class: "form-horizontal push-50-t push-50" }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            = f.input :password, type: "email"
            = f.input :password_confirmation, type: "email"
            .form-group
              .col-xs-12.col-sm-6.col-sm-offset-3
                %button.btn.btn-sm.btn-block.btn-primary{:type => "submit"} Trocar minha senha
            = render "devise/shared/links"
