.session.row
  .z-depth-4.card-panel.s12.m3.l6
    = form_for(resource, as: resource_name, html: { class: "" } ,url: session_path(resource_name)) do |f|
      = render "shared/logo"
      .row
        = devise_error_messages!
      .row
        .input-field.col.s12.m12.l12.login-text
          %i.mdi-action-lock-outline.prefix.email
          = f.text_field :email, class: 'validate', type: "email", 'data-error': "wrong", "data-success": "right"
          = f.label :email
      .row
        .input-field.col.s12.m12.l12.login-text
          %i.mdi-action-lock-outline.prefix
          = f.text_field :password, class: 'validate', type: "password", 'data-error': "wrong", "data-success": "right"
          = f.label :password
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.check_box :remember_me if devise_mapping.rememberable?
          = f.label :remember_me
      .row
        .input-field.col.s12.m12.l12
          = f.submit class: 'btn col s12 m12 l12'
      .row
        = render "devise/shared/links", locals: {}
