.session.row
  .z-depth-4.card-panel.s12.m3.l6
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "shared/logo"
      .row
        = devise_error_messages!
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.input :email
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.input :password
      .row
        .input-field.col.s12.m12.l12.login-text
          = f.input :remember_me, as: :boolean, checked_value: true, unchecked_value: false
      .row
        .input-field.col.s12.m12.l12
          = f.submit "Entrar", class: 'btn col s12 m12 l12'
      .row
        = render "devise/shared/links", locals: {}
