<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <h3 class="block-title">Login</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">Mead</h1>
                    <p>Welcome, please login.</p>
                    <!-- END Login Title -->
                    <%= devise_error_messages! %>
                    <!-- Login Form -->
                    <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                    <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "js-validation-login form-horizontal push-30-t push-50"}) do |f| %>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <%= f.text_field :email, class: "form-control" %>
                                    <%= f.label :email %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                  <%= f.password_field :password, class: "form-control" %>
                                  <%= f.label :password %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="css-input switch switch-sm switch-primary">
                                  <%= f.check_box :remember_me %><span></span> Remember Me?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button class="btn btn-block btn-primary" type="submit"><i class="si si-login pull-left "></i> Log in</button>
                            </div>
                        </div>                        
                        <%= render "devise/shared/links", locals: {} %>                        
                    <% end %>
                    <!-- END Login Form -->
                </div>
                <div class="block-header bg-primary" style="text-align:center; color:white;">
                  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <div class="col-sm-12">
                      <%= link_to (content_tag(:i, "", class: "fa fa-lock") + "Criar uma conta").html_safe, new_registration_path(resource_name) %>
                    </div>
                  <% end %>  
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>