.bg-white.pulldown
  .content.content-boxed.overflow-hidden
    .row
      .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        .push-30-t.push-50.animated.fadeIn
          .text-center
            %i.fa.fa-2x.fa-circle-o-notch.text-primary
            %p.text-muted.push-15-t A perfect match for your Mead
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form_devise, html: { class: "form-horizontal push-50-t push-50" }) do |f|
            = devise_error_messages!
            = f.input :email, type: "email"
            = f.input :password, type: "password"
            = f.input :remember_me, as: :boolean, wrapper: :horizontal_boolean_devise
            .form-group.push-30-t
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                %button.btn.btn-sm.btn-block.btn-primary{:type => "submit"} Log in
            = render "devise/shared/links", locals: {}
