.row
  .col-lg-6
    .block.block-themed
      .block-header.bg-primary
        %h3.block-title Ultimos feeds de noticias
      .block-content{style: "overflow-y: auto; height:500px;"}
        %ul.list.list-timeline.pull-t#notifications
          = render_activities(@activities)
        %p.text-center
          = link_to("Ver completo", notifications_path)
  .col-lg-6
    .block.block-themed
      .block-header.bg-primary
        %h3.block-title Top usuários
      .block-content
        %table.table.table-striped.table-vcenter
          %thead
            %tr
              %th.text-center
                %i.si.si-user
              %th
                Nome
              %th.text-center{ "data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Level."}
                Lvl.
              %th.text-center{ "data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Experiência."}
                Exp.
              %th.text-center{ "data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Perguntas feitas."}
                %i.si.si-question
              %th.text-center{ "data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Perguntas respondidas"}
                %i.si.si-fire
              %th.text-center{ "data-toggle": "tooltip", "data-placement": "top", "data-original-title": "Garrafas na adega."}
                %i.fa.fa-beer
          %tbody
            -@top_users.each_with_index do |user,i|
              -profile = user.profile
              %tr
                %td.text-center
                  %a{:href => profile_path(profile)}
                    = image_tag profile.avatar_url, class: "img-avatar img-avatar48"
                %td.font-w600= link_to profile.full_name, profile_path(profile)
                %td.text-center.font-w600= user.level
                %td.text-center= user.reputation_for(:experience)
                %td.text-center= user.questions.size
                %td.text-center= user.answers.size
                %td.text-center= user.bottles.size

.row
  .col-lg-8
    .block.block-themed
      .block-header.bg-primary
        %h3.block-title Ultimas perguntas
      .block-content.tab-content.bg-white
        - @questions.each do |question|
          = render partial: "questions/item_question", locals:{ question: question }
        %p.text-center
          = link_to("Ver completo", questions_path)
  .col-lg-4
    .block.block-themed
      .block-header.bg-primary
        %h3.block-title Ultimas garrafas
      .block-content.tab-content.bg-white
        - @bottles.each do |bottle|
          %ul.nav-users.push-10-t.push
            %li
              %a{:href => user_bottle_path(bottle.user, bottle)}
                = image_tag bottle.image_url, class:"img-avatar"
                %h5.push-10-t= "#{bottle.type_s} #{bottle.label}"
                .font-w400.text-muted
                  %small= bottle.organization_name
    .block.block-themed
      .block-header.bg-primary
        %h3.block-title Novos usuários
      .block-content.tab-content.bg-white
        - @profiles.each do |profile|
          %ul.nav-users.push-10-t.push
            %li
              %a{:href => profile_path(profile)}
                = image_tag profile.avatar_url, class: "img-avatar"
                %i.fa.fa-circle{ :class => "#{get_color_online(profile.user)}" }
                = profile.full_name
                .font-w400.text-muted
                  %small=  profile.organization_name


