%nav#sidebar
  / Sidebar Scroll Container
  #sidebar-scroll
    / Sidebar Content
    / Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode
    .sidebar-content
      / Side Header
      .side-header.side-content.bg-white-op
        / Layout API, functionality initialized in App() -> uiLayoutApi()
        %button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg{"data-action" => "sidebar_close", "data-toggle" => "layout", :type => "button"}
          %i.fa.fa-times
        / Themes functionality initialized in App() -> uiHandleTheme()
        .btn-group.pull-right
          %button.btn.btn-link.text-gray.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.si.si-drop
          %ul.dropdown-menu.dropdown-menu-right.font-s13.sidebar-mini-hide
            %li
              %a{"data-theme" => "default", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-default.pull-right
                %span.font-w600 Default
            %li
              %a{"data-theme" => "assets/css/themes/amethyst.min.css", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-amethyst.pull-right
                %span.font-w600 Amethyst
            %li
              %a{"data-theme" => "assets/css/themes/city.min.css", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-city.pull-right
                %span.font-w600 City
            %li
              %a{"data-theme" => "assets/css/themes/flat.min.css", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-flat.pull-right
                %span.font-w600 Flat
            %li
              %a{"data-theme" => "assets/css/themes/modern.min.css", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-modern.pull-right
                %span.font-w600 Modern
            %li
              %a{"data-theme" => "assets/css/themes/smooth.min.css", "data-toggle" => "theme", :href => "javascript:void(0)", :tabindex => "-1"}
                %i.fa.fa-circle.text-smooth.pull-right
                %span.font-w600 Smooth
        %a.h5.text-white{:href => "index.html"}
          %i.fa.fa-circle-o-notch.text-primary
          %span.h4.font-w600.sidebar-mini-hide ne
      / END Side Header
      / Side Content
      .side-content
        %ul.nav-main
          %li.nav-main-heading
            %span.sidebar-mini-hide Apps
          %li
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Perfil", class: "sidebar-mini-hide")).html_safe, profile_path(current_user.profile)
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Edit Perfil", class: "sidebar-mini-hide")).html_safe, edit_profile_path(current_user.profile)
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Perguntas", class: "sidebar-mini-hide")).html_safe, questions_path
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Perguntas Favoritas", class: "sidebar-mini-hide")).html_safe, user_favorite_questions_path(current_user)
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Minha adega", class: "sidebar-mini-hide")).html_safe, user_bottles_path(current_user)
            = link_to (content_tag(:i, "", class: "i si si-rocket") + content_tag(:span, "Minhas trocas", class: "sidebar-mini-hide")).html_safe, trades_path(current_user)


      / END Side Content
    / Sidebar Content
  / END Sidebar Scroll Container
