#question-content
  %h4.push-10.font-w400
    = page_entries_info @questions, :entry_name => 'Perguntas'
  .row
    - @questions.each do |question|
      .col-md-12.col-lg-12.hidden-xs.hidden-sm
        %a.block-bordered.block.block-link-hover3{:href => "#{question_path(question) }"}
          %table.block-table.text-center
            %tbody
              %tr
                %td.border-r{:style => "width: 10%;", class: (question.have_best_answer? ? "bg-success" : "gray-lighter")}
                  .push-10.push-10-t{class: (question.have_best_answer? ? "text-white" : "")}
                    %i.fa.fa-check.fa-2x
                    .font-w600.push-15-t= "#{question.answers.size} Respostas"
                %td.bg-gray-lighter.border-r{:style => "width: 10%;"}
                  .push-10.push-10-t
                    %i.si.si-like.fa-2x
                    .font-w600.push-15-t= "#{question.votes_count} Votos"
                %td{:style => "width: 50%;"}
                  %table.block-table.text-left
                    %tr
                      %td
                        %h4.font-w600.push-5
                          = question.title
                    %tr
                      %td
                        = render partial: "shared/tag_list", locals: {tags: question.tags}
                %td.border-l{:style => "width: 30%;"}
                  %a.clearfix.block-link-hover3{:href => "#{profile_path(question.user.profile) }"}
                    .pull-right.hidden-md
                      = image_tag( question.user.profile.avatar_url, class: "img-avatar" )
                    .pull-left.push-10-t
                      .font-w600.push-5= question.user.full_name
                      .text-muted= question.user.profile.organization_name

      .col-xs-12.col-sm-12.hidden-md.hidden-lg
        %a.block-bordered.block.block-link-hover3{:href => "#{question_path(question) }"}
          .block-header{class: (question.have_best_answer? ? "text-white bg-success" : "")}
            %h3.block-title
              %i.si.si-user
              = " #{question.user.full_name}"
          .block-content.block-content-full
            %table.block-table.text-left
              %tr
                %td
                  %h4.font-w600.push-5
                    = question.title
              %tr
                %td
                  = render partial: "shared/tag_list", locals: {tags: question.tags}
          .block-content.border-t
            .row.items-push.text-center
              .col-xs-6.border-r
                .push-5
                  %i.si.si-like.fa-2x
                .h5.font-w300.text-muted= "#{question.votes_count} Votos"
              .col-xs-6
                .push-5
                  %i.fa.fa-check.fa-2x
                  .h5.font-w300.text-muted= "#{question.answers.size} Respostas"
  = paginate @questions, param_name: :question_page, remote: true
