.content
  .block
    %ul.nav.nav-tabs.nav-tabs-alt{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#search-projects"} Perguntas
      %li
        %a{:href => "#search-users"} Usuários
      %li
        %a{:href => "#search-classic"} Garrafas
    .block-content.tab-content.bg-white
      #search-projects.tab-pane.fade.fade-up.active.in
        .border-b.push-30
          %h2.push-10
            = @questions.size
            %span.h5.font-w400.text-muted Perguntas Encontradas
        %ul.list.list-activity.push
          - @questions.each do |question|
            = render partial: "questions/question_list", locals:{ question: question }
        .border-t
          %ul.pagination
            %li.disabled
              %a{:href => "javascript:void(0)"} Prev
            %li.active
              %a{:href => "javascript:void(0)"} 1
            %li
              %a{:href => "javascript:void(0)"} 2
            %li
              %span ...
            %li
              %a{:href => "javascript:void(0)"} 10
            %li
              %a{:href => "javascript:void(0)"} Next
      #search-users.tab-pane.fade.fade-up
        .border-b.push-30
          %h2.push-10
            = @profiles.count
            %span.h5.font-w400.text-muted Usuários Encontrados
        .row
          -@profiles.each do |profile|
            .col-sm-6.col-lg-4
              %a.block-bordered.block.block-link-hover2{:href => "#{profile_path(profile)}"}
                .block-header                  
                  %h3.block-title= profile.full_name            
                .block-content.block-content-full.text-center.bg-image{:style => "background-image: url(#{ profile.cover_url });"}
                  %img
                    = image_tag profile.avatar_url, class: "img-avatar img-avatar96 img-avatar-thumb"
                .block-content.text-center
                  .row.items-push
                    .col-xs-6
                      .h3.push-5= profile.user.bottles.size
                      .h5.font-w300.text-muted Garrafas
                    .col-xs-6
                      .h3.push-5 RS
                      .h5.font-w300.text-muted Caxias do sul
        .border-t
          %ul.pagination
            %li.disabled
              %a{:href => "javascript:void(0)"} Prev
            %li.active
              %a{:href => "javascript:void(0)"} 1
            %li
              %a{:href => "javascript:void(0)"} 2
            %li
              %span ...
            %li
              %a{:href => "javascript:void(0)"} 10
            %li
              %a{:href => "javascript:void(0)"} Next
      #search-classic.tab-pane.fade.fade-up
        .border-b.push-30
          %h2.push-10
            = @bottles.count
            %span.h5.font-w400.text-muted Garrafas Encontradas
          .row
            - @bottles.each do |bottle|
              .col-sm-6.col-lg-3
                %a.block-bordered.block.block-link-hover3{:href => "#{user_bottle_path(bottle.user, bottle) }"}
                  .block-content.block-content-full.text-center
                    %div
                      = image_tag bottle.image_url, class: "img-avatar img-avatar96 img-avatar-thumb"
                    .h5.push-15-t.push-5= bottle.label
                    .h5.font-w300.text-muted= bottle.organization_name
                  .block-content.block-content-mini.block-content-full.bg-gray-lighter
                    .text-center.text-muted= bottle.style
                  .block-content
                    .row.items-push.text-center
                      .col-xs-6
                        .push-5
                          %i.si.si-star.fa-2x
                        .h5.font-w300.text-muted 5 Estrelas
                      .col-xs-6
                        .push-5
                          %i.si.si-notebook.fa-2x
                        .h5.font-w300.text-muted= "#{bottle.amount} Garrafas"
        .border-t
          %ul.pagination
            %li.disabled
              %a{:href => "javascript:void(0)"} Prev
            %li.active
              %a{:href => "javascript:void(0)"} 1
            %li
              %a{:href => "javascript:void(0)"} 2
            %li
              %span ...
            %li
              %a{:href => "javascript:void(0)"} 10
            %li
              %a{:href => "javascript:void(0)"} Next