.content
  #tabs-container.block
    %ul.nav.nav-tabs.nav-tabs-alt{"data-toggle" => "tabs"}
      - @order_find.each_with_index do |objects, index|
        -model_name = objects.model_name
        %li{class: index == 0 ? "active" : ""}
          %a{:href => "#search-#{model_name.name.downcase}"}= "#{model_name.human(count: 2)} (#{objects.total_count })"
    .block-content.tab-content.bg-white
      - @order_find.each_with_index do |objects, index|
        -model_name = objects.model_name
        .tab-pane.fade.fade-up{id: "search-#{model_name.name.downcase}", class: index == 0 ? "active in" : ""}
          .border-b.push-30
            = render partial: "block_#{model_name.name.downcase}_search"
