.col-lg-12
  .block
    .block-header.bg-gray-lighter
      %h3.block-title Minhas perguntas favoritas
    .block-content.block-content-full
      %ul.list.list-activity.push
        - @favorite_questions.each do |favorite_question|
          - question = favorite_question.question
            %li
              .row
                .col-lg-1.text-center
                  .row_item
                    .row
                      12
                    .row
                      %b Votos
                  .row_item
                    .row
                      %i.fa.fa-check.best-answer-icon-size{ class: (question.have_best_answer? ? "best-answer-icon-color" : "")}
                    .row
                      = question.answers.size
                    .row
                      %b Respostas
                  .row_item
                    .row
                      60
                    .row
                      %b Visitas
                .col-lg-11
                  .col-lg-12
                    %h4= link_to question.title, question
                    .font-s13.text-muted
                      = question.content.to_s.html_safe
                  .col-lg-9.col-sm-7.col-xm-12
                    %span.label.label-success Hidromel
                    %span.label.label-success Receita
                    %span.label.label-success Mosto
                  .col-lg-3.col-sm-5.col-xm-12
                    = render partial: "shared/block_profile", locals: {title: "Criada em #{question.created_at}", user: question.user}
