.col-sm-12.col-md-6
  .block.block-themed
    .block-header.bg-primary
      %h3.block-title= "Proposta de #{user.full_name}"
    .block-content.block-content-full.text-center
      %div
        =image_tag user.profile.avatar_url, class:" img-avatar img-avatar96"
    .block-content
      .table-responsive
        %table.table.table-borderless.table-striped.table-vcenter
          %thead
            %tr
              %th Nome da Garrafa
              %th.text-center Qtd.
              - if can_remove_bottle?(user, @trade.status)
                %th.text-center Remover
          %tbody
            - @trade.suggest_bottles(user).each do |trade_bottle|
              %tr
                %td
                  = link_to trade_bottle.bottle.to_s, user_bottle_path(trade_bottle.owner, trade_bottle.bottle)
                %td.text-center
                  = trade_bottle.amount
                - if can_remove_bottle?(user, @trade.status)
                  %td.text-center
                    = link_to("Remover", remove_trade_bottle_trade_path(id:trade_bottle.id, trade_id:@trade.id), method: "post", "data-toggle": "tooltip", "data-placement": "tooltip", "data-original-title": "Remover essa garrafa")
