.content.content-boxed
  .row
    .col-sm-6.col-md-3
      .block.block-link-hover3.text-center
        .block-content.block-content-full
          %span.item.item-circle.bg-success-light
            %i.fa.fa-check.text-success
        .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-success.font-w600 Iniciada
    .col-sm-6.col-md-3
      .block.block-link-hover3.text-center
        .block-content.block-content-full
          %span.item.item-circle.bg-success-light
            %i.fa.fa-check.text-success
        .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-success.font-w600 Aceita
    .col-sm-6.col-md-3
      .block.block-link-hover3.text-center
        .block-content.block-content-full
          %span.item.item-circle.bg-warning-light
            %i.si.si-settings.fa-spin.text-warning
        .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-warning.font-w600 Em negociação
    .col-sm-6.col-md-3
      .block.block-link-hover3.text-center
        .block-content.block-content-full
          %span.item.item-circle.bg-gray-lighter
            %i.fa.fa-times.text-muted
        .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-muted.font-w600 Finalizada
  %form.form-horizontal.push-10-t.push-10{:action => "base_forms_premade.php", :method => "post", :onsubmit => "return false;"}
    .row
      .col-sm-12.col-md-6
        .block
          .block-header.bg-gray-lighter
            %h3.block-title Minha proposta
          .block-content
            .table-responsive
              %table.table.table-borderless.table-striped.table-vcenter
                %thead
                  %tr
                    %th Nome da Garrafa
                    %th.text-center QTY
                %tbody
                  - Bottle.all.each do |bottle|
                    %tr
                      %td
                        = link_to bottle.label, user_bottle_path(bottle.user, bottle)
                      %td.text-center
                        .form-material.floating.open
                          %select#contact3-subject.form-control{:name => "contact3-subject", :size => "1"}
                            %option{:value => "1"} 1
                            %option{:value => "2"} 3
                            %option{:value => "3"} 4
                            %option{:value => "4"} 5
                              
                  
      .col-sm-12.col-md-6
        .block
          .block-header.bg-gray-lighter
            %h3.block-title Minha proposta
          .block-content
            .table-responsive
              %table.table.table-borderless.table-striped.table-vcenter
                %thead
                  %tr
                    %th Nome da Garrafa
                    %th.text-center QTY
                %tbody
                  - Bottle.all.each do |bottle|
                    %tr
                      %td
                        = link_to bottle.label, user_bottle_path(bottle.user, bottle)
                      %td.text-center
                        .form-control-static
                          5
  .row
    .col-lg-6
      = render partial: "bottles/block_user_bottles", locals:{ title: "Garrafas na adega do #{current_user.profile.full_name}", user: current_user.profile.user }
    .col-lg-6
      = render partial: "bottles/block_user_bottles", locals:{ title: "Garrafas na adega do Pedro", user: current_user.profile.user } 
  .row
    .col-sm-12.col-md-4
      %a.block.block-link-hover2{:href => "javascript:void(0)"}
        .block-content.block-content-full.bg-danger.clearfix
          %i.si.si-dislike.fa-2x.text-white.pull-right
          %span.h4.font-w700.text-white Cancelar Negociação
    .col-sm-12.col-md-4
      %a.block.block-link-hover2{:href => "javascript:void(0)"}
        .block-content.block-content-full.bg-primary.clearfix
          %i.si.si-reload.fa-2x.text-white.pull-right
          %span.h4.font-w700.text-white Atualizar proposta      
    .col-sm-12.col-md-4
      %a.block.block-link-hover2{:href => "javascript:void(0)"}
        .block-content.block-content-full.bg-success.clearfix
          %i.si.si-like.fa-2x.text-white.pull-right
          %span.h4.font-w700.text-white Finalizar Negociação
  .row
    .col-lg-6
      .block
        .block-header.bg-gray-lighter
          %h3.block-title Endereço de entrega
        .block-content.block-content-full
          .h4.push-5 Feliphe Pozzer
          %address
            Sargento Venino Vargas
            %br/
            Caxias do sul - RS
            %br/
            Brasil, 95095-075
            %br/
            %br/
            %i.fa.fa-phone
            (54) 91524658
            %br/
            %i.fa.fa-envelope-o
            %a{:href => "javascript:void(0)"} feliphepozzer@example.com
    .col-lg-6
      .block
        .block-header.bg-gray-lighter
          %h3.block-title Endereço de entrega
        .block-content.block-content-full
          .h4.push-5 Pedro Pozzer
          %address
            Sunrise Str 620
            %br/
            Melbourne
            %br/
            Australia, 11-587
            %br/
            %br/
            %i.fa.fa-phone
            (999) 888-55555
            %br/
            %i.fa.fa-envelope-o
            %a{:href => "javascript:void(0)"} pedropozzer@example.com
  

  .block
    .block-header.bg-gray-lighter
      %h3.block-title Mensagens de log
    .block-content
      .table-responsive
        %table.table.table-borderless.table-striped.table-vcenter
          %tbody
            %tr
              %td
                %span.label.label-danger Proposta
              %td
                %span.font-w600 16 de Novembro de 2015 - 15:29
              %td
                %a{:href => "javascript:void(0)"} Feliphe Pozzer
              %td.text-danger Atualizou a proposta
            %tr
              %td
                %span.label.label-primary Aceito
              %td
                %span.font-w600 15 de Novembro de 2015 - 15:29
              %td
                %a{:href => "javascript:void(0)"} Pedro Pozzer
              %td Aceitou a negociação
            %tr
              %td
                %span.label.label-primary Inicio
              %td
                %span.font-w600 15 de Novembro de 2015 - 14:29
              %td
                %a{:href => "javascript:void(0)"} Feliphe Pozzer
              %td Solicitou uma negociação

  .block
    .bg-image{:style => "background-image: url(#{ current_user.profile.cover_url });"}
      .block-content.block-content-full.bg-black-op.text-center
        .push-10
          = image_tag current_user.profile.avatar_url, class: "img-avatar img-avatar96 img-avatar-thumb"
        %h3.h4
          %span.text-white= current_user.full_name
    .js-chat-talk.overflow-y-auto.block-content.block-content-full{"data-chat-id" => "3", :style => "height: 346px;"}
      .font-s12.text-muted.text-center.push-20-t.push-15
        %em Yesterday
      .block.block-rounded.block-transparent.push-15.push-50-l
        .block-content.block-content-full.block-content-mini.bg-gray-lighter Estou afim de trocar com você
      .font-s12.text-muted.text-center.push-20-t.push-10
        %em Today
      .block.block-rounded.block-transparent.push-15.push-50-r
        .block-content.block-content-full.block-content-mini.bg-gray-light Opa blz?
      .block.block-rounded.block-transparent.push-15.animated.fadeInUp.push-50-r
        .block-content.block-content-full.block-content-mini.bg-gray-light Vamos trocar sim
    .js-chat-form.block-content.block-content-full.block-content-mini
      %form{:action => "base_ui_chat.php", :method => "post"}
        %input.js-chat-input.form-control{"data-target-chat-id" => "3", :placeholder => "Type a message and hit enter..", :type => "text"}/
= link_to 'Back', trades_path
