.content.content-boxed
  .row
    = first_block(@trade)
    = second_block(@trade)
    = third_block(@trade)
    = last_block(@trade)

  = simple_form_for(@trade, wrapper: :vertical_form_devise) do |f|
    .row
      .col-sm-12.col-md-6
        .block
          .block-header.bg-gray-lighter
            %h3.block-title Minha proposta
          .block-content
            .table-responsive
              %table.table.table-borderless.table-striped.table-vcenter
                %thead
                  %tr
                    %th Nome da Garrafa
                    %th.text-center Qtd.
                %tbody
                  - @trade.suggest_bottles(current_user).each do |trade_bottle|
                    %tr
                      %td
                        = link_to trade_bottle.bottle.label, user_bottle_path(trade_bottle.owner, trade_bottle.bottle)
                      %td.text-center
                        = trade_bottle.amount
      .col-sm-12.col-md-6
        .block
          .block-header.bg-gray-lighter
            %h3.block-title= "Proposta do #{@trade.other_user(current_user).first_name}"
          .block-content
            .table-responsive
              %table.table.table-borderless.table-striped.table-vcenter
                %thead
                  %tr
                    %th Nome da Garrafa
                    %th.text-center Qtd.
                %tbody
                  - @trade.suggest_bottles(@trade.other_user(current_user)).each do |trade_bottle|
                    %tr
                      %td
                        = link_to trade_bottle.bottle.label, user_bottle_path(trade_bottle.owner, trade_bottle.bottle)
                      %td.text-center
                        = trade_bottle.amount
    .row
      .col-lg-6
        = render partial: "bottles/block_user_bottles", locals:{ title: "Garrafas na adega do #{current_user.profile.full_name}", user: current_user.profile.user, bottles: current_user.bottles.publics.with_stock }
      .col-lg-6
        = render partial: "bottles/block_user_bottles", locals:{ title: "Garrafas na adega do Pedro", user: current_user.profile.user, bottles: @trade.other_user(current_user).bottles.publics.with_stock }
    .row
      = render partial: "trades/block_actions"
    - if @trade.status == "waiting_to_be_sent"
      .row
        .col-lg-6
          = render partial: "trades/block_address", locals: {profile: current_user.profile}
        .col-lg-6
          = render partial: "trades/block_address", locals: {profile: @trade.other_user(current_user).profile}
    = render partial: "trades/block_logs", locals: {trade: @trade}
  .block
    .bg-image{:style => "background-image: url(#{ @trade.other_user(current_user).profile.cover_url });"}
      .block-content.block-content-full.bg-black-op.text-center
        .push-10
          = image_tag @trade.other_user(current_user).profile.avatar_url, class: "img-avatar img-avatar96 img-avatar-thumb"
        %h3.h4
          %span.text-white= @trade.other_user(current_user).full_name
    .js-chat-talk.overflow-y-auto.block-content.block-content-full{"data-chat-id" => "3", :style => "height: 346px;"}
      .font-s12.text-muted.text-center.push-20-t.push-15
        %em Yesterday
      .block.block-rounded.block-transparent.push-15.push-50-l
        .block-content.block-content-full.block-content-mini.bg-gray-lighter Estou afim de trocar com você
      .font-s12.text-muted.text-center.push-20-t.push-10
        %em Today
      .block.block-rounded.block-transparent.push-15.push-50-r
        .block-content.block-content-full.block-content-mini.bg-gray-light Opa blz?
      .block.block-rounded.block-transparent.push-15.animated.fadeInUp.push-50-r
        .block-content.block-content-full.block-content-mini.bg-gray-light Vamos trocar sim
    .js-chat-form.block-content.block-content-full.block-content-mini
      %form{:action => "base_ui_chat.php", :method => "post"}
        %input.js-chat-input.form-control{"data-target-chat-id" => "3", :placeholder => "Type a message and hit enter..", :type => "text"}/
