!!!
/
  [if IE 9] <html class="ie9 no-focus">
/
  [if gt IE 9]><!
%html.no-focus
  /
    <![endif]
  = render "layouts/html_head"
  %body{"data-controller": controller.controller_name, "data-action": controller.action_name}
    #page-container.sidebar-l.sidebar-o.side-scroll.header-navbar-fixed
      / Side Overlay
      = render "shared/application/aside"
      / Sidebar
      = render "shared/application/sidebar"
      / END Sidebar
      / Header
      = render "shared/application/header"
      / END Header
      / Main Container
      %main#main-container
        = render 'shared/alerts'
        = render "shared/content_header", title: get_header_title
        .content.content-boxed

          = yield
      / END Main Container
      / Footer
      = render "shared/application/footer"
      / END Footer
    %audio#chatAudio
      %source{:src => "/sounds/notification.mp3", :type => "audio/mpeg"}
