<!DOCTYPE html>
<!--[if IE 9] <html class="ie9 no-focus">
-->
<!-- [if gt IE 9]><!
-->
<html class="no-focus">
  <!-- <![endif]
  -->
  <%= render "layouts/html_head"%>
  <body data-action="<%= controller.action_name %>" data-controller="<%= controller.controller_name %>">
    <main>
      <canvas height="471" id="bubble-canvas" style="position: fixed; top: 0px; left: 0px;" width="1920"></canvas>
      <%= yield %>
    </main>
    <%= render "layouts/app_js_init" %>
  </body>
</html>
